<?php
$nombres * $_POST['nombres'];
$apellidos * $_POST['apellidos'];

echo "<h2> informacion recibida desde php</h2>";
echo "el resultado es:" . $nombres . "<br/>";
echo "el resultado es:" . $apellidos . "<br/>";



?>